@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@theme{
    --color-Neutral-900: hsl(33, 15%, 15%);
    --color-Neutral-800: hsl(33, 22%, 20%);
    --color-Neutral-700: hsl(32, 20%, 29%);
    --color-Neutral-600: hsl(33, 17%, 41%);
    --color-Neutral-400: hsl(36, 22%, 86%);
    --color-Neutral-200: hsl(30, 24%, 93%);
    --color-Neutral-100: hsl(35, 60%, 96%);
    --color-Neutral-50: hsl(40, 60%, 98%);
    --color-Neutral-0: hsl(0, 0%, 100%);
    --color-Sun-500: hsl(42, 83%, 58%);
    --color-Sun-300: hsl(44, 84%, 75%);
    --color-Sun-200: hsl(45, 100%, 74%);
    --color-Sun-50: hsl(41, 100%, 93%);
    --color-Terracotta-700: hsl(15, 69%, 37%);
    --color-Terracotta-600: hsl(15, 74%, 41%);
    --color-Terracotta-500: hsl(18, 62%, 47%);
    --color-Terracotta-400: hsl(22, 72%, 56%);
    --color-Blue-500: hsl(230, 49%, 56%);
    --color-Rose-500: hsl(340, 48%, 52%);
    --font-Fraunces: "Fraunces", serif;
    --font-DM-Sans: "DM Sans", sans-serif;
    --font-DM-Mono: "DM Mono", monospace;
}

.bg-Rose-500{
    background-color: var(--color-Rose-500);
}
.text-Rose-500{
    color: var(--color-Rose-500);
}

.bg-Blue-500{
    background-color: var(--color-Blue-500);
}
.text-Blue-500{
    color: var(--color-Blue-500);
}

.bg-Neutral-900 {
    background-color: var(--color-Neutral-900);
}
.text-Neutral-900 {
    color: var(--color-Neutral-900);
}

.bg-Neutral-800 {
    background-color: var(--color-Neutral-800);
}
.text-Neutral-800 {
    color: var(--color-Neutral-800);
}

.bg-Neutral-700 {
    background-color: var(--color-Neutral-700);
}
.text-Neutral-700 {
    color: var(--color-Neutral-700);
}

.bg-Neutral-600 {
    background-color: var(--color-Neutral-600);
}
.text-Neutral-600 {
    color: var(--color-Neutral-600);
}

.bg-Neutral-400 {
    background-color: var(--color-Neutral-400);
}
.text-Neutral-400 {
    color: var(--color-Neutral-400);
}

.bg-Neutral-200 {
    background-color: var(--color-Neutral-200);
}
.text-Neutral-200 {
    color: var(--color-Neutral-200);
}

.bg-Neutral-100 {
    background-color: var(--color-Neutral-100);
}
.text-Neutral-100 {
    color: var(--color-Neutral-100);
}

.bg-Neutral-50 {
    background-color: var(--color-Neutral-50);
}
.text-Neutral-50 {
    color: var(--color-Neutral-50);
}

.bg-Neutral-0 {
    background-color: var(--color-Neutral-0);
}
.text-Neutral-0 {
    color: var(--color-Neutral-0);
}

.bg-Sun-500 {
    background-color: var(--color-Sun-500);
}
.text-Sun-500 {
    color: var(--color-Sun-500);
}

.bg-Sun-300 {
    background-color: var(--color-Sun-300);
}
.text-Sun-300 {
    color: var(--color-Sun-300);
}

.bg-Sun-200 {
    background-color: var(--color-Sun-200);
}
.text-Sun-200 {
    color: var(--color-Sun-200);
}

.bg-Sun-50 {
    background-color: var(--color-Sun-50);
}
.text-Sun-50 {
    color: var(--color-Sun-50);
}

.bg-Terracotta-700 {
    background-color: var(--color-Terracotta-700);
}
.text-Terracotta-700 {
    color: var(--color-Terracotta-700);
}

.bg-Terracotta-600 {
    background-color: var(--color-Terracotta-600);
}
.text-Terracotta-600 {
    color: var(--color-Terracotta-600);
}

.bg-Terracotta-500 {
    background-color: var(--color-Terracotta-500);
}
.text-Terracotta-500 {
    color: var(--color-Terracotta-500);
}

.bg-Terracotta-400 {
    background-color: var(--color-Terracotta-400);
}
.text-Terracotta-400 {
    color: var(--color-Terracotta-400);
}

.bg-Blue-500 {
    background-color: var(--color-Blue-500);
}
.text-Blue-500 {
    color: var(--color-Blue-500);
}

.bg-Rose-500 {
    background-color: var(--color-Rose-500);
}
.text-Rose-500 {
    color: var(--color-Rose-500);
}